footer {
  padding: 45px 30px;
  background: $red;
  color: white;
  text-align: center;

  .midias {
    margin: 40px auto;
    a {
      color: white;
      font-size: 28px;
      padding: 10px;
    }
  }

  .content {
    .box {
      margin-bottom: 50px;
      .box-title {
        font-weight: bold;
        font-size: 24px;
      }
      a {
        font-size: 16px;
        color: white;
        display: block;
      }
    }

    border-bottom: 2px solid white;
    margin-bottom: 30px;
  }

  .dev-by {
    span {
      font-size: 11px;
      & + span {
        margin-top: 10px;
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg )) {
    padding-bottom: 20px;
    .container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      border-bottom: 2px solid white;
      margin-bottom: 20px;
      .content {
        display: flex;
        justify-content: space-between;
        border-bottom: none;
        position: relative;
        right: -70px;
        .box {
          text-align: left;
        }
      }

      .midias {
        margin: 0;
        text-align: right;
      }
    }

    .dev-by {
      max-width: 1140px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
