header {
  position: fixed;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background: $red;
  z-index: 9999999999999999;

  .header {
    .container {
      padding: 30px 0;
      display: flex;
      align-items: center;
      height: 100%;
      position: relative;
      z-index: 10;
      justify-content: space-between;

      .logo-header {
      }
      .links,
      .midias-header {
        a {
          padding: 10px;
          font-size: 16px;
          font-weight: bold;
          line-height: 30px;
          color: $white;
        }
      }

      .links {
        position: relative;
        right: -150px;
      }

      .midias-header a {
        padding: 0;
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg )) {
  .menu-home {
    background: transparent;
  }
}

.ativo {
  height: 100vh !important;
  align-items: baseline !important;
  position: fixed !important;
  background: $red !important;
  z-index: 1000000 !important;

  .menu {
    display: flex !important;
  }

  .logo-header {
    display: block !important;
  }
  .logo-header-2 {
    display: none;
  }

  .midias-header {
    display: flex !important;
    position: absolute;
    bottom: 50px;
    left: 15px;

    a {
      padding: 10px 15px !important;
      font-size: 25px;
      line-height: 50px;
      text-align: left;
      color: $white;
    }
  }

  .menu-icon {
    .navicon {
      &:before,
      &:after {
        background: $white !important;
      }
    }
  }
  .menu {
    position: absolute;
    top: 110px;
    max-height: 100% !important;
    @media (min-height: 720px) {
      top: 140px;
      a {
        padding: 10px 0;
      }
    }
  }
}

.menu-home {
  .top-nav {
    background: $white !important;
    .logo-header-2 {
      display: block !important;
    }
    .logo-header {
      display: none !important;
    }
    .menu-icon {
      .navicon {
        background: $red;
        &:before,
        &:after {
          background: $red;
        }
      }
    }
  }
  .ativo {
    background: $red !important;

    .logo-header-2 {
      display: none !important;
    }
    .logo-header {
      display: block !important;
    }
  }
}

.red-class {
  background: $red;
  .top-nav {
    background: $red !important;
    .logo-header-2 {
      display: none !important;
    }
    .logo-header {
      display: block !important;
    }
    .menu-icon {
      .navicon {
        background: $white;
        &:before,
        &:after {
          background: $white;
        }
      }
    }
  }
}

.top-nav {
  padding: 30px;
  background: $red;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 50;
  top: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: top 0.75s ease-in-out;
  overflow: hidden;

  .logo-header {
    width: 75%;
  }
  .logo-header-2 {
    display: none;
    width: 75%;
  }
  .midias-header,
  .form-header {
    display: none;
  }

  .menu {
    list-style: none;
    overflow: hidden;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 83%;
    max-height: 0;
    transition: max-height 0s ease-in-out;

    a {
      width: 100%;
      font-size: 36px;
      font-weight: bold;
      line-height: 91px;
      text-align: left;
      color: $white;
      border-bottom: 3px solid #e54822;
    }
  }

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 25px 10px;
    margin-bottom: 0;
    position: absolute;
    right: 20px;

    .navicon {
      background: $white;
      display: block;
      height: 2px;
      position: relative;
      width: 1.625rem;

      &:before,
      &:after {
        background: $white;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
      }

      &:before {
        top: 7px;
      }

      &:after {
        top: -7px;
      }
    }
  }

  .menu-btn {
    display: none;

    &:checked ~ .menu {
      max-height: 300px;
    }

    &:checked ~ .menu-icon .navicon {
      background: transparent;

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }

    &:checked ~ .menu-icon:not(.steps) .navicon {
      &:before,
      &:after {
        top: 0;
      }
    }
  }
}

.box-btn-header,
.box-btn-header-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    border-bottom: none !important;
  }
}

.box-btn-header-2 {
  position: absolute;
  bottom: 15px;
  display: none;
}

// DESKTOP MENU CSS
@media (min-width: 840px) {
  .top-nav li {
    margin: 0 10px;
  }
  .top-nav .menu {
    width: auto;
    max-height: none;
    flex-direction: row;
  }
  .top-nav .menu-icon {
    display: none;
  }
}
