.banner-home {
  height: 483px;
  margin-top: 110px;
  background: url("../../dist/img/banner-mob-1.png") center center no-repeat;
  background-size: cover !important;
  .container {
    width: 100%;
    height: 100%;
    .item {
      width: 100%;
      height: 100%;
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }

      .title {
        font-weight: bold;
        position: absolute;
        bottom: 25px;
        left: 0px;
        color: #fff;
      }
    }
  }
}

.quem-somos-home {
  padding-top: 30px;
  padding-bottom: 30px;
  .title {
    color: $red;
    margin-bottom: 20px;
  }

  .btn-cta {
    margin-top: 20px;
    display: inline-block;
  }
}

.nossas-solucoes {
  padding-top: 30px;
  padding-bottom: 30px;
  background: $red;
  color: #fff;

  .title {
    margin-bottom: 20px;
  }

  p {
    color: white;
  }

  .wrapper {
    margin-top: 45px;
    .carousel-solucoes {
      .item {
        height: 400px;
        padding: 42px;
        background: #e74710;
        text-align: center;
        img {
          margin: 0 auto;
          display: block;
          margin-bottom: 30px !important;
        }

        .name {
          font-size: 30px;
          font-weight: bold;
          margin-bottom: 20px;
        }

        p {
          height: 40px;
          overflow: hidden;
        }
        & + .item {
          margin-left: 10px;
        }
        &:first-child {
          border-radius: 120px 0px 0px 0px;
        }
        &:last-child {
          border-radius: 0px 0px 120px 0px;
        }
        &:hover {
          img {
            display: none;
          }
          p {
            height: unset;
          }
        }
      }
    }
  }
}

.contato {
  padding-top: 30px;
  .title {
    color: $red;
    margin-bottom: 20px;
  }
  .infos {
    .icon {
      display: flex;
      align-items: baseline;
      img {
        margin-right: 15px;
      }
      a,
      span {
        font-size: 16px;
        color: #707070;
      }

      & + .icon {
        margin-top: 10px;
      }
    }
  }

  .form {
    margin-top: 30px;
    margin-bottom: 50px;
    input[type="text"],
    input[type="email"],
    textarea {
      border: none;
      background: transparent;
      margin-top: 10px;
      outline: none;
      border-bottom: 2px solid #707070;
      padding: 10px 5px;
      width: 100%;
      font-family: Montserrat;
      font-size: 16px;
      color: #707070;
      &::placeholder {
        font-size: 16px;
        color: #707070;
      }
    }
    input[type="submit"] {
      margin-top: 20px;
      border: none;
      outline: none;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .banner-home {
    height: 100vh;
    margin-top: 0;
    background: url("../../dist/img/banner-home-lg.png") center center no-repeat;
    background-position-y: 0;

    .title {
      font-size: 60px;
      line-height: 62px;
      left: 50% !important;
      bottom: 80px;
    }

    .banner-detail-1 {
      width: 370px;
      height: 400px;
      background: #e42814;
      border-top-right-radius: 75%;
      position: absolute;
      bottom: 0;
      z-index: 2;

      &:hover {
        background: transparent !important;
        border: 3px solid #e42814;
        border-bottom: 0;
      }
    }
    .banner-detail-2 {
      width: 80px;
      height: 100px;
      background: #e42814;
      border-top-left-radius: 90%;
      position: absolute;
      bottom: 0;
      right: 0;
      &:hover {
        background: transparent !important;
        border: 3px solid #e42814;
        border-bottom: 0;
      }
    }
  }

  .quem-somos-home {
    padding-top: 0;
    padding-bottom: 100px;
    position: relative;
    .container {
      display: flex;
      position: relative;
      .square {
        width: 370px;
        height: 300px;
        border: 3px solid #e42814;
        position: relative;
        top: -5px;
        &:hover {
          background: #e42814 !important;
        }
      }
      .align-item-end {
        display: flex;
        align-items: end;
      }
    }

    .square-right {
      width: 80px;
      height: 80px;
      border: 3px solid #e42814;
      border-right: none;
      position: absolute;
      right: 0;
      top: -5px;
      &:hover {
        background: #e42814 !important;
      }
    }

    .btn-cta:hover {
      position: relative;
      top: -2px;
      color: white;
    }
  }

  .nossas-solucoes {
    padding-top: 100px;
    padding-bottom: 100px;
    .container {
      display: flex;
      justify-content: space-between;

      .lg-size {
        font-size: 16px !important;
      }

      .wrapper {
        margin-top: 0;

        .item {
          height: 350px;
          width: 31%;
          .name {
            margin-bottom: 10px;
            line-height: 30px;
          }
          img {
            width: 100px;
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  .contato {
    position: relative;

    .form {
      margin-bottom: 0;
      padding-bottom: 60px;
      p:last-of-type {
        margin-bottom: 0;
      }
    }
    .lg-img {
      position: absolute;
      width: 60%;
      height: 100%;
      right: 0;
      top: 0;
      div {
        width: 100%;
        height: 100%;
        background: url("../../dist/img/map-desk.png") center center no-repeat;
        background-size: cover;
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) {
  .banner-home {
    background: url("../../dist/img/banner-home-lg.png") center center no-repeat;
  }

  .contato {
    .lg-img {
      div {
        width: 100%;
        height: 600px;
        background: url("../../dist/img/map-desk.png") center center no-repeat;
        background-size: cover;
      }
    }
  }
}
