.page-projetos{
    .cabecalho{
        padding: 44px 56px 0 26px;
        p{
            font-size: 16px;
            font-weight: 400;
            color: #707070;
        }
    }
    .nav.nav-tabs{
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        margin-bottom: 46px;
        margin-top: 44px;
        border: 0;
        &::-webkit-scrollbar {
            display: none;
          }
        .nav-item{
            padding: 0 12.5px;
            &:nth-child(1){
                padding-left: 0;
            }
            // &:nth-last-child(1){
            //     padding-right: 0;
            // }
        }
        .nav-link{
            color: $red;
            font-weight: bold;
            border: 0;
            padding: 0 0 10px 0;
            &.active{
                border-bottom: 3px solid $red;
            }
        }
    }
}
.portfolios{
    .item{
        margin: 5px 0;
        .item-img{
            background-repeat: no-repeat;
            background-size: cover;
        }
        &.i--1{
            .item-img{
                height: 270px;
            border-radius: 0px;
            }
        }
        &.i--2{
            .item-img{
                height: 175px;
            border-radius: 0 0 0 100px;
            }
        }
        &.i--3{
            .item-img{
                height: 350px;
            border-radius: 0px;
            }
        }
        &.i--4{
            .item-img{
                height: 305px;
            border-radius: 0 120px 0 0;
            }
        }
        &.i--5{
            .item-img{
                height: 155px;
            border-radius: 0px;
            }
        }
    }
    
    
}
.clientes{
    margin-top: 90px;
    background: #E74710;
    padding: 45px 0;
    .titulo{
        color: white;
        margin-bottom: 10px;
        h2{
            font-weight: bold;
            font-size: 36px;
        }
    }
    .conter-carosel{
        padding-left:26px;
        .item{
            text-align: center;
            background: #e8e8e8;
            margin-right: 10px;
        }
    }
}

@media(min-width: map-get($grid-breakpoints, lg)){
    .page-projetos{
        position: relative;
        padding: 5% 10% 0;
        .cabecalho{
            
            padding: 44px 0px 0 54px;
            
            p{
                
            }
        }
        .nav.nav-tabs{
            
            
            .nav-item{
                
            }
            .nav-link{
                
            }
        }
    }
    .portfolios{
        &.active{
            display: flex;
            flex-wrap: wrap;
        }
        
        .item{
            margin: 5px 0;
            padding: 0 15px;
            a{
                display: block;
            }
            .item-img{
                background-repeat: no-repeat;
                background-size: cover;
            }
            &.i-d-1{
                
                .item-img{
                    
                    height: 888px;
                border-radius: 0px;
                position: relative;
                top: 0;
                left: 0;
                }
            }
            &.i-d-2{
                
                
               
                .item-img{
                    height: 580px;
                border-radius: 0 0 150px 0px;
                }
            }
            &.i--1{
                @include make-col(12);
                .item-img{
                    
                    height: 540px;
                border-radius: 0px;
                
                }
            }
            &.i--2{
                @include make-col(7);
                
               
                .item-img{
                    height: 380px;
                border-radius: 0 0 0px 0px;
                }
            }
            &.i--3{
                @include make-col(5);

                .item-img{
                    height: 380px;
                border-radius: 150px 0 0 0 ;
                }
            }
            &.i--4{
                @include make-col(3);
                .item-img{
                    height: 380px;
                border-radius: 0 150px 0 0;
                }
            }
            &.i--5{
                @include make-col(6);
                .item-img{
                    height: 380px;
                border-radius:  0 0 0 150px;
                }
            }
            &.i--6{
                @include make-col(3);
                .item-img{
                    height: 380px;
                border-radius: 0px 0 0 0;
                }
            }
        }
    }
    .clientes{
        margin-top: -15px;
        .conter-carosel{
            display: flex;
            align-items: center;
            max-width: 85%;
            margin: 0 auto;
            padding-left: 0;
            .titulo{
                @include make-col(4);
                padding: 0 15px;
                padding-right: 90px;
                img{
                    filter: brightness(0) invert(1);
                }
            }
            .col-carosel{
                @include make-col(8);
                padding: 0 15px;
            }
        }
    }
    .clientes-home{
        .clientes{
            background: white;
            .titulo{
                h2{
                    color: #E74710;
                }
                img{
                    filter: none;
                }
            }
        }
    }
}