.quem-somos {
  margin-top: 110px;
  .container {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    .title {
      color: $red;
      margin-bottom: 20px;
    }
  }

  img:first-of-type {
    border-radius: 0px 120px 0px 0px;
  }

  img {
    margin-bottom: 8px;
  }
}

.personas {
  background: #e74710;
  padding-top: 50px;
  padding-bottom: 50px;

  .item {
    img {
      margin-bottom: 25px;
    }

    .title {
      margin-bottom: 10px;
    }

    .title,
    p,
    a {
      color: white;
    }

    a {
      font-size: 20px;
    }

    & + .item {
      margin-top: 40px;
    }

    &:first-of-type {
      img {
        border-radius: 0px 180px 0px 0px;
      }
    }
    &:last-of-type {
      img {
        border-radius: 180px 0px 0px 0px;
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .quem-somos {
    margin-top: 180px;

    img:first-of-type {
      border-radius: 0;
    }

    .container {
      display: flex;
      .img-lg-1 {
        width: 100%;
        flex: 1;
        background-size: cover !important;
        background: url("../../dist/img/quem-somos-lg-1.png") center center
          no-repeat;
        margin-bottom: 60px;
      }
      .wrapper {
        position: relative;
        left: -50px;
        .teste {
          width: 111%;
          max-width: unset;
          background: white;
          margin-bottom: 0;
          border: 10px solid white;
          border-right: none;
          border-bottom: 10px solid white;
          border-top: 10px solid white;
          & + .teste {
            border: none;
            margin-bottom: -80px;
            justify-content: space-between;
            background: transparent;
            img {
              flex: 0 0 49%;
            }
          }
        }
        .text {
          margin: 0 0 40px auto;
          padding: 0;
          padding-left: 40px;
        }
      }
    }
  }

  .personas {
    padding-top: 120px;
    .container {
      max-width: 900px;
      .item {
        display: flex;
        &:first-of-type {
          img {
            border-radius: 180px 0 0px 0px;
          }
          .title::before {
            content: "";
            display: inline-block;
            width: 70%;
            height: 1px;
            background: white;
            position: absolute;
            left: -70%;
            bottom: 8px;
          }
        }
        &:last-of-type {
          img {
            border-radius: 0 180px 0px 0px;
          }
          .title::after {
            content: "";
            display: inline-block;
            width: 210%;
            height: 1px;
            background: white;
            position: absolute;
            right: -173%;
            bottom: 8px;
          }
        }

        &:last-child {
          flex-direction: row-reverse;
        }

        .text {
          padding-top: 30px;
        }
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) {
  .quem-somos {
    .md-align {
      max-width: 680px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      img {
        width: 48%;
      }
    }
  }
  .personas {
    .item {
      img {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
  }
}
