@import "../../node_modules/bootstrap/scss/bootstrap";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$red: #c01636;
$white: white;
$brown: #212121;
$blue: #0a2846;
$yellow: #e1d1ae;

.color-white {
  color: white;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.titulo{
  color: $red;
  font-weight: bold;
  font-size: 36px;
}
.header-mask{
  height: 114px;
}
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  width: 100%;
  span {
    display: block;
  }
}

img {
  @extend .img-fluid;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

p {
  font-size: 14.5px;
  color: #707070;
}

.container {
  padding: 0 25px !important;
}

.title {
  font-weight: bold;
  font-size: 32px;
  line-height: 39.6px;
}

.btn-cta {
  padding: 10px 30px;
  background: $red;
  color: #fff;
}

.whats-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background: #188a0e;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  i {
    font-size: 27px;
    color: #fff;
  }
}

// BUTTON ANIMATION

@mixin hideTapHighlightColor() {
  //Prevent highlight colour when element is tapped
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin hardwareAccel() {
  //Improve performance on mobile/tablet devices
  transform: translateZ(0);
}

@mixin improveAntiAlias() {
  //Improve aliasing on mobile/tablet devices
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* Wobble Vertical */
@keyframes wobble-vertical {
  16.65% {
    transform: translateY(4px);
  }

  33.3% {
    transform: translateY(-2px);
  }

  49.95% {
    transform: translateY(0px);
  }

  66.6% {
    transform: translateY(-2px);
  }

  83.25% {
    transform: translateY(1px);
  }

  100% {
    transform: translateY(0);
  }
}

.wobble-vertical {
  display: inline-block;

  @include hideTapHighlightColor();
  @include hardwareAccel();
  @include improveAntiAlias();

  &:hover {
    animation-name: wobble-vertical;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }
}

@import "footer";
@import "header";
@import "home";
@import "projetos";
@import "quem-somos";
